<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelGram</title>
  </head>
  <body>
    <header class="main-header">
      <nav>
        <h1 id="logo">TravelGram</h1>
        <ul>
          <li><a href="#locations">Locations</a></li>
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><%= link_to "Blog", blog_path%></li>

        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h2>Travel beyond limits.</h2>
        <h3> Start browsing your next trip with the best prices</h3>
        <button>Book Now</button>
      </section>
      <section id="locations">
      <header class="locations-head">
        <h2>Escape The Real World</h2>
        <h3>Make your travel experience the best time of your life <br>
          Indulge in the finer things, even if you wouldn’t normally.
        </h3>
        <%= image_tag('cloud.png', :class => 'moving-cloud-1 cloud', :alt =>'') %>
        <%= image_tag('cloud.png', :class => 'moving-cloud-2 cloud', :alt =>'') %>
      </header>
      </section>
      <section id="benefits">
        <header class="header benefits-head">
          <h2>What we offer</h2>
          <h3> Anyone who travels can benefit from the rewards and perks that we offers.
          you can easily use your points or miles to help cover some of the costs of your next trip.
          </h3>
        </header>
        <div class="cards">
          <div class="card">
            <div class="card-icon">
              <%= image_tag('route-solid.svg') %>
            </div>
            <h4>Free Miles</h4>
            <p>Flexible travel miles with no annual fee</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="card">
            <div class="card-icon">
              <%= image_tag('bed-solid.svg') %>
            </div>
            <h4>Travel Card</h4>
            <p> Earn your first travel card</p>
            <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
          </div>
          <div class="card">
            <div class="card-icon">
              <%= image_tag('plane-departure-solid.svg') %>
            </div>
            <h4>Eating the world</h4>
            <p>Travel rewards on dining</p>
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="form-wrapper">
          <header class="form-head">
            <h2>Contact Us!!</h2>
          </header>
          <form action="https://formspree.io/mzbbyqbo" method="post">
            <div class="name-form">
              <label for="name">Name:</label>
              <input id="name" type="text" name="name" required>
            </div>
            <div class="email-form">
              <label for="email">Email:</label>
              <input id="email" type="email" name="_replyto" required>
            </div>
            <button value="send" type="submit">Send</button>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer-wrapper">
        <h5>TravelGram &copy;</h5>
        <ul>
          <li><%= image_tag('twitter.svg', :alt => 'Twitter social media')%></li>
          <li><%= image_tag('youtube.svg', :alt => 'Youtube social media')%></li>
          <li><%= image_tag('instagram.svg', :alt => 'Instagram social media')%></li>
        </ul>
      </div>
    </footer>
  </body>
</html>